.Mupin::before{
    margin-right: 5px;
    content: url('https://i.ibb.co/LdQTyJL/logo-mupin-30px.png');
    vertical-align: middle;
}

header{
    width: 100%;
}

.Mupin, .nav-link{
    color: #249c94;
    /*color: #eeecece6;*/
}

/*.Mupin:hover{
    color:white;
}*/

textarea{
    width: 207px;
    height: 43px;
}

.green{
    color: green;
}

.red{
    color: red;
}

img.fotodb{
    width: 200px;
}


button a{
    text-decoration: none;
}

button a:hover{
    text-decoration: none;
}

button a:visited{
    text-decoration: none;
}

.field_ricerca{
    color: blue;
}

section.content{
    margin: 10px;
}

figure img, figure figcaption{
    display: inline-block;
}

.btn-warning{
    --bs-btn-color: white;
    /*text-shadow: black;*/
}

h1{
    color: #249C94;
}

h1 legend{
    color: #249C94;
}

i::before{
    margin-right: 2px;
}

#divbutton{
    margin-top: 20px;
}


.nav-link:hover{
    color:white;
}